<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-8 items-center px-8 pt-8 pb-8">
    <div class="text-center max-w-4xl mx-auto">
      <!-- <div class="max-w-sm mx-auto bg-orange-500/85 backdrop-blur-sm text-white text-sm sm:text-md font-bold px-4 sm:px-6 py-1 sm:py-2 rounded-full transform text-center mb-6 sm:mb-8 shadow-[0_0_15px_rgba(249,115,22,0.5)]">
        <span class="font-bold">Launch + Black Friday Sale 🎉</span> <br>
        <span class="font-normal">Use code TABTABLAUNCH for 30% OFF</span>
      </div> -->
      <!-- <object 
        type="image/svg+xml" 
        data="/opencam.svg"
        class="w-24 sm:w-32 mx-auto rounded-2xl shadow-md"
        aria-label="OpenCam Icon"
      >OpenCam App Icon</object> -->

      <div class="flex flex-col items-center">
        <p class="text-3xl tracking-tight font-semibold text-gray-600 md:text-3xl font-display mt-8">
          OpenCam
        </p>
      </div>

      <p
        class="text-4xl tracking-tight font-semibold text-black md:text-5xl font-body mt-4">
        Wider Video Recording 
        <br>
        for your iPhone
      </p>
      <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
        Unlock the full potential of your iPhone's cameras with OpenCam. Capture more of the scene while enjoying intuitive manual controls right at your fingertips.
      </p>
    </div>
    <div class="flex flex-col items-center mt-10">
      <div class="flex justify-center gap-2">
        <a
          href="https://apps.apple.com/sg/app/opencam-shoot-wider-video/id6743316690"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-block rounded-lg transition-all duration-200 hover:shadow-[0_0_20px_rgba(249,115,22,0.6)]"
        >
          <img 
            src="/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" 
            alt="Download on the App Store" 
            class="h-14 w-auto"
          />
        </a>
      </div>
    </div>


    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="rounded-xl overflow-hidden max-h-[50vh] sm:max-h-[70vh]">
        <img src="/hero.png" alt="OpenCam Hero" class="w-full h-auto max-h-[50vh] sm:max-h-[70vh] object-contain">
      </div>
    </div>

    <!-- <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="rounded-xl overflow-hidden">
        <video
          class="w-full lg:rounded-2xl object-cover rounded shadow-2xl scale-101"
          autoplay
          loop
          muted
          playsinline
        >
          <source src="/tabtab-proj.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div> -->
  </div>
</section>
