@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;
  --color-black: #121212;
  --color-white: #ffffff;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-bg-dark: #000000;
  --color-blue-50: #EBEDFF;
  --color-accent-50: #fff7ed;
  --color-accent-100: #ffedd5;
  --color-accent-200: #fed7aa;
  --color-accent-300: #fdba74;
  --color-accent-400: #fb923c;
  --color-accent-500: #f97316;
  --color-accent-600: #ea580c;
  --color-accent-700: #c2410c;
  --color-accent-800: #9a3412;
  --color-accent-900: #7c2d12;
}
/* CSS */
:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: "Inter", sans-serif;
  }
}

/* Apply Inter to headings as well */
h1, h2, h3, h4, h5, h6, .font-display {
  font-family: 'IBM Plex Sans', sans-serif;
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
