---
import "../styles/global.css";
---

<title>OpenCam - Open Gate Recording for your iPhone</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="canonical" href="https://opencam.app/" />
<meta name="author" content="Richard Qi" />

<!-- Primary Meta Tags -->
<meta name="title" content="OpenCam - Full Sensor Recording for your iPhone" />
<meta name="description" content="OpenCam enables 4:3 aspect ratio iPhone recording with full sensor capture. Record wider videos in native 4:3 format, perfect for content creators and social media." />
<meta name="keywords" content="opencam, open gate, 4:3 aspect ratio, apple log,iphone recording, video app, camera app, iOS, iPhone, full sensor, video recording, open gate, 4k, high quality, creator, influencer, instagram, tiktok, tools, gym toks, content creator, social media, reels, ugc, 4:3 video"/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://opencam.app/" />
<meta property="og:title" content="OpenCam - Full Sensor Recording for your iPhone" />
<meta property="og:description" content="OpenCam enables 4:3 aspect ratio iPhone recording with full sensor capture. Record wider videos in native 4:3 format, perfect for content creators and social media." />
<meta property="og:image" content="https://opencam.app/og-image.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://opencam.app/" />
<meta property="twitter:title" content="OpenCam - Full Sensor Recording for your iPhone" />
<meta property="twitter:description" content="OpenCam enables 4:3 aspect ratio iPhone recording with full sensor capture. Record wider videos in native 4:3 format, perfect for content creators and social media." />
<meta property="twitter:image" content="https://opencam.app/og-image.png" />

<!-- Favicon -->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<!-- <link rel="manifest" href="/site.webmanifest"> -->
<link rel="mask-icon" href="/favicon.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!--Ionicons -->
<script
  type="module"
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>

<style>
  /* Inter for all text */
  @font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
    font-weight: 600;
    font-style: normal;
  }
</style>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<!---- Alpine  -->
<script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>

<!-- Add this after your meta tags -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "OpenCam",
  "operatingSystem": "iOS",
  "applicationCategory": "Camera and Video Software",
  "description": "OpenCam enables 4:3 aspect ratio iPhone recording with full sensor capture. Record wider videos in native 4:3 format, perfect for content creators and social media."
  // "aggregateRating": {
  //   "@type": "AggregateRating",
  //   "ratingValue": "5.0",
  //   "ratingCount": "100"
  // }
}
</script>
