<footer>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="grid grid-cols-2 lg:grid-cols-4 items-start gap-x-8 gap-y-24">
      <a
        href="/"
        class="xl:col-span-1 text-white flex flex-col items-start gap-2">
        <object type="image/png" data="/opencam-full.png" class="h-10" style="pointer-events: none;">
          <img src="/opencam-full.png" alt="OpenCam Icon" class="h-10">
        </object>
      </a>
      <div
        class="md:grid md:grid-cols-2 xl:grid-cols-4 md:gap-8 text-sm text-slate-300 lg:col-span-3">
        <div>
          <h3 class="text-lg text-white font-medium tracking-tight">
            All pages
          </h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="/"
                class="hover:text-white">
                Home
              </a>
            </li>
            <li>
              <a
                href="/comparisons/"
                class="hover:text-white">
                Comparisons
              </a>
            </li>
            <!-- <li>
              <a
                href="/faq"
                class="hover:text-white">
                FAQ
              </a>
            </li> -->
            <li>
              <a
                href="/terms/"
                class="hover:text-white">
                Terms
              </a>
            </li>
            <li>
              <a
                href="/privacy/"
                class="hover:text-white">
                Privacy
              </a>
            </li>
            <!-- <li>
              <a
                href="/signup"
                class="hover:text-black">
                Sign up
              </a>
            </li>
            <li>
              <a
                href="/signup"
                class="hover:text-black">
                Sign In
              </a>
            </li> -->
          </ul>
        </div>
        <!-- <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-black font-medium tracking-tight">
            Resources
          </h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="https://github.com/michael-andreuzza/astrosaas"
                class="hover:text-black">
                GitHub repo
              </a>
            </li>
          </ul>
        </div> -->
        <div class="mt-12 md:mt-0">
          <h3 class="text-lg text-white font-medium tracking-tight">Contact</h3>
          <ul
            role="list"
            class="mt-4 space-y-1">
            <li>
              <a
                href="mailto:riccqi@pm.me"
                class="hover:text-white flex items-center gap-2">
                <svg class="w-4 h-4" viewBox="0 0 117.822 84.2285" fill="currentColor">
                  <path d="M58.8867 47.5586C60.498 47.5586 62.0605 46.9238 63.5742 45.5566L112.354 2.58789C109.717 0.830078 106.689 0.0488281 102.49 0.0488281L15.332 0.0488281C11.1328 0.0488281 8.10547 0.830078 5.41992 2.58789L54.1992 45.5566C55.7617 46.9238 57.3242 47.5586 58.8867 47.5586ZM1.26953 76.3184L37.4023 40.2344L1.17188 8.30078C0.634766 9.32617 0 11.8164 0 15.1855L0 69.0918C0 72.2168 0.488281 74.4629 1.26953 76.3184ZM13.8672 84.2285L103.955 84.2285C107.52 84.2285 110.303 83.3496 112.158 82.0801L75 44.9219L67.8711 51.2695C65.0391 53.7598 61.9629 55.0293 58.8867 55.0293C55.8594 55.0293 52.7832 53.7598 49.9512 51.2695L42.8223 44.9219L5.66406 82.0801C7.51953 83.3496 10.2539 84.2285 13.8672 84.2285ZM116.553 76.3184C117.285 74.4629 117.822 72.2168 117.822 69.0918L117.822 15.1855C117.822 11.8164 117.188 9.32617 116.65 8.30078L80.4199 40.2344Z"/>
                </svg>
                Email
              </a>
            </li>
            <li>
              <a
                href="https://x.com/riccqi"
                class="hover:text-white flex items-center gap-2">
                <svg class="w-4 h-4" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
                </svg>
                @riccqi
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="bg-[var(--color-bg-dark)]">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-6">
    <div class="border-t pt-6 border-gray-700">
      <div class="flex justify-between items-center">
        <p class="text-sm text-gray-400">
          © 2025 OpenCam. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
